<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav-wrapper teal lighten-1">
            <div class="container">
                <a href="#" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign In</a></li>
                </ul>
                <a href="#" class="right sidenav-trigger hide-on-large-only" data-target="mobileNav"><i
                        class="material-icons">more_vert</i></a>
                <ul id="mobileNav" class="sidenav">
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="fixed-action-btn">
        <a href="" class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <div class="container">
        <div id="articleList">
            <h3>Article List</h3>
            <div class="row">
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
                <div class="col m4 s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Lorem ipsum dolor</span>
                            <p class="truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae
                                explicabo id consectetur possimus minus est maiores excepturi! Delectus velit tempore
                                illum quis totam. Non, adipisci? Quis inventore cum dolorem!</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="tooltipped" data-tooltip="View"><i
                                    class="material-icons teal-text lighten-1">pageview</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Edit"><i
                                    class="material-icons teal-text lighten-1">edit</i></a>
                            <a href="#" class="tooltipped" data-tooltip="Delete"><i
                                    class="material-icons teal-text lighten-1">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {
                edge: 'right'
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems);
        });
    </script>
</body>

</html>