<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Article</title>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>
    <div class="center-div z-depth-3">
        <h4>Update Article</h4>
        <form action="" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="" id="titleAdd" class="validate">
                    <label for="textAdd">Title</label>
                </div>
                <div class="input-field col s12">
                    <textarea name="" id="contentAdd" class="materialize-textarea"></textarea>
                    <label for="contentAdd">Content</label>
                </div>
            </div>
        </form>
        <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Update
                </button>
            </div>
    </div>
    <script src="/assets/js/materialize.min.js"></script>
</body>

</html>