<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>

<body>
    <div class="center-div z-depth-3">
        <form action="/users/register" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" name="first_name" id="firstName" class="validate">
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">person</i>
                    <input type="text" name="last_name" id="lastName" class="validate">
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input type="text" name="username" id="userName" class="validate">
                    <label for="userName">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" name="password" id="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="div">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input type="password" id="passwordConfirm" class="validate">
                    <label for="passwordConfirm">Confirm Password</label>
                </div>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Register
                </button>
            </div>
        </form>
    </div>
    <script src="/assets/js/materialize.min.js"></script>
</body>

</html>